@model IEnumerable<LifeLine.Models.ProductListings>

@{
    ViewData["Title"] = "Index";
}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/fontawesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" />
    <link rel="stylesheet" href="~/css/crud.css" />
</head>
<body>
    <div id="main-content">
        <div class="card-body">
            <div clas="row">
                <div class="col-lg-12">
                    <div class="head text-center py-3">
                        <h3 style="color:white">Suppliers</h3>
                    </div>
                </div>
            </div>
            <br />
            <p>
                <a asp-action="Create">Create New</a>
            </p>
            <table id="records" class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ProductName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Price)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SupplierID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Type)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.StocksLeft)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UnitMeasurement)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ImagePath)
                        </th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SupplierID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Type)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StocksLeft)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UnitMeasurement)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ImagePath)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.ListingID"><i class="fas fa-2x fa-edit"></i></a> |
                            <a asp-action="Delete" asp-route-id="@item.ListingID"><i class="fas fa-2x fa-trash"></i></a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>

            @section Scripts
            {
                <script src="~/lib/datatables/js/jquery.dataTables.js"></script>
                <script src="~/lib/datatables/js/dataTables.bootstrap4.js"></script>
                <script>
                    $(document).ready(function () {
                        $('#records').DataTable();
                    });
                </script>
                @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
            }
        </div>
    </div>
</body>
