@model IEnumerable<LifeLine.Models.ProductListings>
@{
    ViewData["Title"] = "Detail";
}

<h1>Products Detail</h1>
@using (Html.BeginForm("AddToCart", "Store", FormMethod.Post))
    {
<table class="table">
    <thead>
        <tr>
            <th>
                Image
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                Quantity
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr>
            <td>
                <img src="~/img/products/@(item.ImagePath)" class="img-thumbnail" alt="@(item.ProductName)"
                    style="width: 350px; height: 300px; "/>
            </td>
            <td>
                <input type="text" class="form-control" value="@(item.ProductName)" readonly/>
            </td>
            <td>
                <input type="text" class="form-control" value="@(item.Price)" readonly/>
            </td>
            <td>
                <input type="hidden" value="@(item.ListingID)" name="id"/>
                <input type="number" class="form-control" min="0" max="@(item.StocksLeft)" name="quantity" />
            </td>
            <td>
                <input type="submit" class="btn btn-primary" value="Add to cart" />
            </td>
        </tr>
}   </tbody>
</table>
}