@model IEnumerable<LifeLine.Models.ShoppingCart>

@{
    ViewData["Title"] = "ShowCart";
}

<head>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<h1>ShowCart</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ListingID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ListingID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    <a asp-action="Edit" asp-controller="Store" asp-route-id="@item.ShoppingCartID">Edit</a> |
                    <a asp-action="Delete" asp-controller="Store" asp-route-id="@item.ShoppingCartID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
    Submit Cart
</button>

<!-- The Modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Order Confirmation</h4>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          <h5>Your order will be processed if you would confirm. Would you like to proceed? </h5>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
            <a asp-action="Order" asp-controller="Store" class="btn btn-primary">Confirm</a>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Not yet</button>
        </div>
        
      </div>
    </div>
  </div>